.row{
    padding: 20px;
}

div{
    text-align: center;
    background-color: lightgrey;
}

#profilepic {
    border-radius: 100%;
    margin-top: -15%;
}

#fullname{
    font-weight: bold;
}

#description{
    text-align: center;
    
}

.btn{
    --bs-btn-border-radius: 100%;
}